{% include "_top.html" %}

<main class="w-full pa-5">
    {% if user %}
    <form method="POST" action="{{ url_for('logout') }}">
        <button>
            Logout
        </button>
    </form>
    {% else %}
    <button><a href="{{ url_for('view_login') }}">Login</a></button>
    {% endif %}
    <h1>Photo Gallery</h1>
    <div>
        {% for image in images %}
        <img class="max-w-full max-h-full" src="{{ image }}" alt="Uploaded Photo">
        {% endfor %}
    </div>
</main>


{% include "_bottom.html" %}